
<!DOCTYPE html>

<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>İza Mühendislik</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/assets/css/main.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: UpConstruction - v1.2.1
    * Template URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>
<header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="index.html" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="/assets/img/logo.png" alt=""> -->
            <h1>İza Mühendislik<span>.</span></h1>
        </a>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="/" class="active">Anasayfa</a></li>
                <li><a href="#hakkimizda">Hakkımızda</a></li>
                <li><a href="#haberler">Haberler</a></li>
                <li><a href="#hizmetler">Hizmetler</a></li>
                <li><a href="#projects">Fotoğraflar</a></li>       
                <li><a href="#iletisim">İletişim</a></li>
            </ul>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
<body>
    <div>
        @RenderBody()
    </div>
</body>
<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="footer-content position-relative">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6" id="iletisim">
                    <div class="footer-info">
                        <h3>İZA MÜHENDİSLİK</h3>
                        <p>
                            Türkiye/İstanbul <br>
                     

                            <strong>Telefon:</strong>216 523 50 32<br>
                            <strong>Gsm:</strong> 541 854 99 71<br>
                            <strong>Email:</strong> iz_muhendislik@hotmail.com<br>
                            <strong>Adres:</strong> İstiklal Mah. Doğa Sok. NO:17 / D:1 Ümraniye İST.<br>
                            
                        </p>
                        <div class="social-links d-flex mt-3">
                            <a href="https://api.whatsapp.com/send/?phone=905418549971&text&type=phone_number&app_absent=0″ target=”_blank”" class="d-flex align-items-center justify-content-center"><i class="bi bi-whatsapp"></i></a>
                            <a href="https://m.facebook.com/izamuhendislik/" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
                            <a href="https://www.google.com/maps/place/%C4%B0ZA+M%C3%9CHEND%C4%B0SL%C4%B0K/$41.0222368,29.0947426,17z/data=!3m1!4b1!4m5!3m4!1s0x14cac8f69f6037a3:0xac6b904859eb2660!8m2!3d41.0222333!4d29.0969194" class="d-flex align-items-center justify-content-center"><i class="bi bi-geo-alt"></i></a>
                         
                        </div>
                    </div>
                </div><!-- End footer info column-->

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>BAĞLANTILAR</h4>
                    <ul>
                        <li><a href="/">Anasayfa</a></li>
                        <li><a href="#hakkimizda">Hakkında</a></li>
                        <li><a href="#hizmetler">Hizmetler</a></li>
                        <li><a href="#haberler">Haberler</a></li>
                        <li><a href="#projects">Fotoğraflar</a></li>
                    </ul>
                </div><!-- End footer links column-->




            </div>
        </div>
    </div>

</footer>
</html>
