@model DataAccess.Models.Service

<div class="container">
    <form action="/Admin/Hizmetler/Insert" method="post" enctype="multipart/form-data">
    <input type="file" class="form-control" style="margin-bottom:10px;" name="file"/>
    <input type="text" class="form-control" style="margin-bottom:10px;" placeholder="Hizmet Adı" asp-for="Name"/>
        <textarea type="text" class="form-control" style="margin-bottom:10px;height:150px" placeholder="Hizmet Detayı" asp-for="Details"></textarea>
        <button type="submit" class="form-control btn btn-primary">Ekleme Yap</button>
    </form>
</div>

@if (ViewBag.Message != null)
{
        <div class="alert alert-success" style="margin-top:15px">@ViewBag.Message</div>

}
@if (ViewBag.Error != null)
{
        <div class="alert alert-danger" style="margin-top:15px">@ViewBag.Error</div>
}