@model DataAccess.Models.Users

<div class="container">
    <form action="/Admin/Kullanici/Insert" method="post" enctype="multipart/form-data">
    <input type="text" class="form-control" style="margin-bottom:10px;" placeholder="Kullanıcı Adı" asp-for="Username"/>
        <input type="password" class="form-control" style="margin-bottom:10px;" placeholder="Şifre" asp-for="Password" />
        <button type="submit" class="form-control btn btn-primary">Ekleme Yap</button>
    </form>
</div>

@if (ViewBag.Message != null)
{
            <div class="alert alert-success" style="margin-top:15px">@ViewBag.Message</div>

}
@if (ViewBag.Error != null)
{
            <div class="alert alert-danger" style="margin-top:15px">@ViewBag.Error</div>
}