<div class="container">

    <a href="/Admin/Haberler" class="btn btn-primary" style="margin-bottom:10px;">Geri</a>

    <form action="/Admin/Haberler/Update/@Model.Id" enctype="multipart/form-data" method="post">
        <input type="text" class="form-control" name="Newsname" value="@Model.Newsname" style="margin-bottom:10px;" />
        <textarea name="Newsdetail" class="form-control" style="margin-bottom:10px;">@Model.Newsdetail</textarea>
        <button type="submit" class="form-control btn btn-primary">Güncelle</button>
    </form>

</div>
@if (ViewBag.Message != null)
{
        <div class="alert alert-success" style="margin-top:15px;">@ViewBag.Message</div>
}
@if (ViewBag.Error != null)
{
        <div class="alert alert-danger" style="margin-top:15px;">@ViewBag.Error</div>
}